# dependencies
/node_modules
REAL-intel/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
REAL-intel/dist

# datasets & large raw data
/DATA/
*.sqlite*
*.db
*.csv.gz

# transient cache
REAL-intel/server/cache/

# misc & environment
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific
.idea/
.vscode/
*.swp
*.swo
